{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-use-before-define": ["error", { "variables": false, "functions": false }]
  },
  "env": {
    "jasmine": true,
    "jest": true,
    "browser": true
  },
  "globals": {
    "fetch": false
  }

}
