.post-list-container {
  display: flex;
  flex-direction: column;
}

.post-list-container > article {
  position: relative;
  padding: 1rem;
  margin-top: 1em;
  border: 1px solid burlywood;
}

.post-category {
  position: absolute;
  left: 0px;
  top: 0px;
}

.delete-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.delete-button button{
  cursor: pointer;
  background-color:red;
}

.add-post {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
